<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Valid</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<body>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Tabla de Reporte</h1>
</div>

<div class="container">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-md-7 table-responsive">
            <table id="customerTable" class="table">
                <thead>
                <tr>
                    <th>No</th>
                    <th>Nombre Archivo</th>
                    <th>Descargar</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="file, rowStat: ${files}">
                    <td th:text="${rowStat.count}">1</td>
                    <td th:text="${file.filename}">File-Name</td>
                    <td><a th:href="${file.url}">Link</a></td>
                </tr>
                </tbody>
            </table>
            <div>
                <a href="/" class="btn btn-light btn-block" role="button">Volver</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>